@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
.html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
  font-weight: 400;
  text-align: center;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.upper {
  background-color: #d2e5f1;
  background-image: url("../images/decorative/divider.svg"), url("../images/decorative/background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
  color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 339px;
}

.navigation-user {
  min-width: 268px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.subject {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.desc-text {
  font-size: 22px;
  line-height: 26px;
}

.accent-color {
  background-color: #82B3D3;
}

.light-shade {
  background-color: rgba(131, 179, 211, 0.12);
}

.light-color {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.accent-title {
  color: #ffffff;
}

.reason-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.accent-desc {
  color: #ffffff;
}

.accent-background {
  background-color: #537b93;
  background-image: url("../images/decorative/mountains-distance.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.newsletter-accent {
  color: #FFFFFF;
}

.inner-background {
  background-color: #537b93;
  background-image: url("../images/decorative/hill.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: left;
}

.product-card-link {
  text-decoration: none;
}

.product-list {
  text-align: left;
}

.catalog-title {
  text-align: left;
}

.button-favorites,
.button-apply {
  background-color: #82B3D3;
}

.button-favorites-selected {
  background-color: #7DB54F;
}

.button-reset {
  background-color: transparent;
}

.newsletter-button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.button-apply,
.button-favorites {
  background-color: #82B3D3;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #82B3D3;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  background-color: #FFFFFF;
  color: #333333;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.inrange-price-number {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}
