@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*общее*/

.html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/*навигация*/

.navigation-logo {
  width: 138px;
  height: 64px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
  height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 432px;
}

.navigation-item {
  list-style-type: none;
}

.navigation-user {
  display: flex;
  max-width: 312px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-user .navigation-link {
  min-width: 22px;
  min-height: 12px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.navigation-link-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px;
  border: none;
  justify-content: center;
}

/* футер*/

.page-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 45px;
  margin-bottom: 35px;
}

.social-list {
  list-style-type: none;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

/*Главная страница*/

.upper {
  background-color: #d2e5f1;
  background-image: url("../images/decorative/divider.svg"), url("../images/decorative/background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
  color: #FFFFFF;
}

.upper-images {
  margin-top: 51px;
  margin-bottom: 83px;
}

.advantages,
.advantages-list {
  margin: 0;
  padding: 0;
  padding-top: 69px;
  text-align: center;
  list-style-type: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages {
  margin-bottom: 64px;
}

.accent-title,
.accent-desc {
  color: #ffffff;
}

.subject {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-topic {
  margin: 0;
  padding: 0 85px;
  margin-bottom: 25px;
  font-style: inherit;
  font-size: 30px;
  line-height: 36px;
}

.desc-text {
  font-size: 22px;
  line-height: 26px;
}

.accent-stripe {
  display: flex;
  flex-grow: 1;
  background-color: #82B3D3;
}

.accent-stripe-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.light:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.light:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.light-2:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reason-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.light,
.light-2 {
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.advantages-description {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  justify-content: space-between;
}

.reason-description {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  justify-content: space-between;

}

.advantages-title,
.reason-title {
  text-transform: uppercase;
}

.reason-text {
  margin-bottom: 64px;
}

.reason {
  margin-bottom: 96px;
}

.page-main-description {
  margin-bottom: 54px;
}

.search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  align-self: center;
  background: #756157;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
  margin-bottom: 96px;
}

/*подписка*/

.newsletter {
  padding-top: 96px;
  padding-bottom: 104px;
  padding-left: 258px;
  padding-right: 258px;
}

.accent-background {
  background-color: #537b93;
  background-image: url("../images/decorative/mountains-distance.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.newsletter-accent {
  color: #FFFFFF;
}

.newsletter-button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
}

.newsletter-form {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  width: 684px;
}

.field {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 452px;
  padding: 14px 20px;
  margin: 0;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f2f2f2;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  padding: 8px 50px;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  cursor: pointer;
}

.page-main-title {
  text-transform: uppercase;
}

/*Каталог*/
/*filter*/

.inner-background {
  background-color: #537b93;
  background-image: url("../images/decorative/hill.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.inner-filters {
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}

.inner-filters-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  padding-top: 35px;
  margin-bottom: 8px;
  text-align: left;
  margin: 0;
}

.breadcrumbs {
  list-style-type: none;
  text-align: left;
  margin-bottom: 40px;
}

.filter-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: 70px;
}
.filter-group {
  width: 220px;
  border: none;
  padding: 0;
  margin: 0;
}

.filter-group-first {
  margin-left: 70px;
}

.filter-group-hotels {
  width: 250px;
  padding: 0;
  margin: 0;
}

.filter-title {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  padding: 0;
  margin-bottom: 33px;
  padding-top: 7px;
}

.filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.filter-item {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  font-weight: 400;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  padding-bottom: 16px;
}

.control-hotel {
  position: relative;
  display: block;
  padding-left: 36px;
  padding-bottom: 16px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.control-hotel-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.filter-price {
  width: 288px;
  border: none;
  padding: 0;
  margin-right: 0;
  margin-left: 40px;
}

.filter-title {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-top: 7px;
  margin-bottom: 33px;
}

.price-form-pricemin {
  display: flex;
  gap: 2px;
}

.input-container  {
  position: relative;
  display: inline-block;
}

.price-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 121px;
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 12px;
  border: none;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.price-input-second {
  border: none;
  border-radius: 0 4px 4px 0;
}

.input-text {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  position: absolute;
  top: 14px;
  right: 20px;
  color: #000000;
  opacity: 0.3;
}

.filter-button {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-left: 58px;
  border: none;
}

.button-apply {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  width: 191px;
  border: none;
  margin-bottom: 32px;
  margin-left: 11px;
  margin-top: 7px;
}

.button-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  width: 191px;
  height: 36px;
  border: none;
  margin-left: 11px;
}



/*навигация каталога*/
.catalog-products {
  padding: 0 70px;
}

.catalog-navigation {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-right: 200px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  margin: 0;
  width: 292px;
  padding: 11px 40px 12px 17px;
  border: 2px solid #e5e5e5;
  color: #333333;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

/*карточки каталога*/
.product-list {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
  list-style-type: none;
  text-align: left;
}

.product-card {
  padding: 19px 19px 18px 19px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
  display: block;
}

.product-card-price {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 15px;
}

.product-card-type {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.product-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px 20px;
  margin-top: 15px;
}

.product-card-button {
  padding: 8px 18px;
}

.button-favorites {
  background-color: #82b3d3;
}

.button-favorites-selected {
  background-color: #7DB54F;
}

.rating-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.rating {
  padding: 9px 22px 9px 23px;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/*пагинация*/
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 14px 20px;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
